<!DOCTYPE html>
<html>
  <head>
    <title>Chit Chat baibe</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> chit chat</h1>
    <p>Welcome to chit chat </p>
  </body>
</html>
